@CHARSET "UTF-8";

#main {
	padding: 10px 0;
}

#main h2 {
	text-align: center;
	padding: 10px 0;
}

#main table, tr, td, th {
	border: 1px solid #000;
}

#main table {
	width: 90%;
	margin: 0 auto;
	border-collapse: collapse;
}

#main table tr {
	text-align: center;
}

#main table td {
	padding: 5px 0;
}